<div class="todo">
    <div class="todo-project-name">
    	<i class="fa fa-calendar fix-icon-left"></i>
    	<%= value.name %>
    	<%link_to"", "main/destroy/#{value.id}", method: :delete %><i class="fa fa-trash fix-icon-right"></i>
    	<span class="line">|</span>
    	<i class="fa fa-pencil fix-icon-right"></i>
    </div>
    <div class="todo-head"> <!--<i class="fa fa-plus fa-2x fix-icon-left" id="icon-plus"></i> иконка плюса-->
        <div class="input-append">
            <input class="span7" id="appendedInputButton" type="text">
            <button class="btn btn-success" type="button">Add Task</button>
        </div>
    </div>
</div>